#botonSuma{

    width: 50px;
    height: 50px;
    font-size: 40px;
}

#botonDividir{
    width: 50px;
    height: 50px;
    font-size: 40px;
}
#botonMultiplicar{
    width: 50px;
    height: 50px;
    font-size: 40px;
}
#botonMódulo{
    width: 50px;
    height: 50px;
    font-size: 40px;
}


#resultado{
    font-size: 50px;

}

#a{
    width: 70px;
    height: 35px;
    font-size: 30px;
}

#b{
    width: 70px;
    height: 35px;
    font-size: 30px;
}